<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/index.css", rel="stylesheet">
<!-- Load the Paper.js library -->
<script type="text/javascript" src="/scripts/paper-full.js"></script>
<link rel="shortcut icon" href="#">
<script type="text/paperscript" canvas="myCanvas">
	var mousePoint = view.center;
	var amount = 1;
	var colors = ['#726a95', '#709fb0', '#a0c1b8', '#f4ebc1'];
	var mouseDown = false;


	for (var i = 0; i < 15; i++) {
		//var rectSize = Math.floor(Math.random() * 250);
		var rect = new Rectangle([0, 0], [25, 25]);
		var path = new Path.Rectangle(rect, 6);
		var point = [Math.floor(Math.random() * window.innerWidth), Math.floor(Math.random() * window.innerHeight)]
		path.scale(Math.floor(Math.random() * 8));
		var maxPoint = new Point(window.innerWidth, window.innerHeight);
		console.log(window.innerWidth);
		var randomPoint = Point.random();


		path.fillColor = colors[Math.floor(Math.random() * 4)];
		path.strokeColor = 'black';
		path.strokeWidth = 5;
		path.blendMode = 'xor';
		path.position = maxPoint * randomPoint;
	}

	function onMouseMove(event) {
		mousePoint = event.point;
		console.log(mousePoint);
	}

	var children = project.activeLayer.children;

	function onMouseDown(event) {
		amount = 1;
		var rect = new Rectangle([0, 0], [25, 25]);
		rect.center = mousePoint;
		var path = new Path.Rectangle(rect, 6);
		path.scale(amount);
		path.fillColor = colors[Math.floor(Math.random() * 4)];
		path.strokeColor = 'black';
		path.strokeWidth = 5;
		path.position = mousePoint;
		path.blendMode = 'xor';
		mouseDown = true;
	}

	function onMouseUp(event) {
		mouseDown = false;
		console.log(mouseDown);
	}

	function onFrame(event) {
		children = project.activeLayer.children;
		var item = children[children.length-1]

		if(mouseDown && item.area <= 50000 ){
			amount+=0.0005;
			item.scale(amount);
		}
		if(children.length >= 25){
			children.shift();
		}
		for (var i = 0, l = children.length; i < l; i++) {
			var item = children[i];
			var delta = (mousePoint - item.position) / (i + 5);
			item.rotate(Math.sin((event.count + i) / 10) * 4);
		}
	}
</script>
</head>
<body>
	    <div id="wrapper" style="position: absolute; z-index: 1; left: 70%; top: 5%; right :20%; width:fit-content; height:fit-content;">
	        <div class="widener">
		        <div style="font-size: 2em;!important; margin-bottom: 10%">
		        	 <a href="/"> mylespollie </a>
		       	</div>
		        <div><a href="https://github.com/mylespollie" target="_blank"> github </a> </div>
		        <div><a href="url" target="_blank".> vimeo </a> </div>
		        <div><a href="https://www.linkedin.com/in/mylespollie/" target="_blank".> linkedin </a> </div>
		        <div><a href="https://soundcloud.com/mylespollie" target="_blank".> soundcloud </a> </div>
		        <div><a href="https://letterboxd.com/mylespollie/" target="_blank"> letterboxd </a> </div>
		    </div>
	    </div>
	   	<div id="centertext"><div class="widener"> click and hold to draw some <div class="background-color"> SHAPES </div> </div> </div>

	<canvas id="myCanvas" style="margin: 0; padding: 0; position: fixed; width: 100%; height: 100%;" resize="true"></canvas>
</body>
</html>